* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.card {
    margin: 60px auto;
    width: 90%;
    max-width: 350px;
    height: 550px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    padding: 0.1px;
}

.card__image {
    width: 90%;
    height: 60%;
    background-image: url('images/image-qr-code.png');
    background-size: cover;
    margin: 20px auto;
    border-radius: 30px;
}

.card__content {
    width: 90%;
    margin: auto;
    text-align: center;
}

.card__title {
    margin: 20px;
    color: hsl(218, 44%, 22%);
}

.card__paragraph {
    width: 85%;
    margin: auto;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

@media (min-width:375px) {
    .card {
        margin: 200px auto;
    }
}